header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 7, 160);
    color:rgba(225, 184, 184, 0.989);
    padding: 20px;
    align-items: center;
    text-align: center;
       
}
header ul{
    display: flex;
    gap: 30px;
    list-style: none; 
    align-self: flex-end;
       
}
header img{ /* tamanho do logo */
    width: 150px;
}
header h1{ /* texto do cav´becalho centralizado */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header a{
    color: aliceblue; /* cor do link */
    text-decoration: none; /* sem linha abaixo do texto */
}